body {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: #fff;
    font-size: 4em;
    margin-top: 30vh;
    padding: 0 0 20px;
}
h2 {
    color: darken($color: #fff, $amount: 20%);
    font-size: 2em;
}